#root {
  --primary-color: #c2e1c2ff;
  --secondary-color: #7dcd85ff;
  --mid-color: #bac7beff;
  --primary-dark: #778472ff;
  --secondary-dark: #80ab82ff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Header Items*/

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}
header h1 {
  font-size: 3.2em;
  line-height: 1.1;
  background-color: var(--mid-color);
  padding: 0.5em 1em;
  border-radius: 8px;
}

#hero-banner {
  width: 100%;
  height: 300px;
  background-image: url('src/images/keyboard.jpg');
  background-size: cover;
  background-position: center;
  opacity: 0.8; /* Adjust the opacity value as needed */
}

/* Navigation Items */

.nav-item:hover {
  filter: drop-shadow(0 0 2em var(--secondary-dark));
}

.nav-item {
  width: auto;
  background-color:var(--mid-color);
  padding: 1em;
  margin: 1em 0;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* Body Content */

body {
  min-width: 320px;
  margin: 0 auto;
  text-align: left;
  background: linear-gradient(to bottom, var(--primary-color), var(--secondary-color));
  width: 100%;
  min-height: 100vh;
}

/* Main Content */

.card {
  padding: 2em;
}

label {
  font-weight: bold;
  display: flex;
  flex-direction: column;
  gap: 1em; /* Adjust the gap value to control vertical spacing */
}

input {
  font-size: 1.2em;
  padding: 0.5em;
  border-radius: 4px;
  border: 1px solid #ccc;
  width: 30%;
}

#message {
  font-size: 1.2em;
  padding: 0.5em;
  border-radius: 4px;
  border: 1px solid #ccc;
  width: 40%;
  height: 100px;
}

/* Footer Items */

footer {
  background-color: var(--primary-color);
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer-icons {
  display: flex;
  justify-content: center;
  gap: 1em;
}

/* Icons and Images*/

.icon {
  width: 80px;
  height: 80px;
  filter: grayscale(100%)
}

.icon:hover {
  opacity: 0.5;
}

.download {
  background-color: var(--primary-color);
  border: 4px;
  border-color: var(--secondary-dark);
  border-radius: 4px;
}

.headshot {
  width: 25%;
  border-radius: 8px;
  float: left;
  margin-right: 1em;
}

.weather {
  width: 50%;
  border-radius: 8px;
  float: left;
  margin-right: 1em;
}

#port-item {
  justify-self: end;
  margin-bottom: 50px;
}

#app-title {
  justify-self: start;
}

/* Responsive Design */

@media (max-width: 768px) {
  #root {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}