#root {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  max-width: 1920px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background: linear-gradient(to bottom, white, teal);
  width: 100%;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.nav-item:hover {
  filter: drop-shadow(0 0 2em #acaff0aa);
}

.nav-item {
  width: auto;
  background-color:rgb(201, 241, 241);
  padding: 1em;
  margin: 1em 0;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card {
  padding: 2em;
}

.footer-icons {
  display: flex;
  justify-content: center;
  gap: 1em;
}

.icon {
  width: 80px;
  height: 80px;
}

.headshot {
  width: 25%;
  border-radius: 8px;
  float: left;
  margin-right: 1em;
}

@media (max-width: 768px) {
  #root {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .card {
    width: 100%;
    margin-bottom: 1rem;
  }
}
body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

#root {
  min-height: calc(100vh - 100px); /* Adjust 100px to the height of your footer */
  box-sizing: border-box;
}

footer {
  height: 100px; /* Adjust to your footer height */
  background-color: teal;
  text-align: center;
  padding: 1rem;
  position: relative;
  bottom: 0;
  width: 100%;
}